importFrom("graphics", "abline", "lines", "points")
importFrom("stats", "coef", "fft", "lm", "predict", "quantile")
importFrom("utils", "head", "read.table", "tail")

S3method(diff,gauss)
export(background)
export(background.gauss)
export(convolve.fft)
export(find.peaks)
export(gauss.kernel)
export(integ.trap)
export(lin.background)
export(process.ls)
export(read.all.files)
export(smooth.gauss)
