importFrom("graphics", "abline", "lines", "points")
importFrom("stats", "coef", "fft", "lm", "predict", "quantile")
importFrom("utils", "head", "read.table", "tail")

export(Gauss.Kernel)
export(applyto.all)
export(background)
export(background.Gauss)
export(convolve.fft)
export(differentiate.Gauss)
export(find.peaks)
export(integ.trap)
export(lin.background)
export(read.all.files)
export(smooth.Gauss)
